@import '../../../assets/styles/colors';

.page-link {
  color: $mainMagenta;

  span {
    color: $mainMagenta;
  }
}

.page-item.active .page-link {
  border: 1px solid white;
  background-color: $mainMagenta;
}
