@import '../../../assets/styles/colors';

.preloader {
  top: 0;
  left: 0;

  &.noBg {
    .bg {
      background: none;
    }
  }

  .bg {
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
  }

  .loading {
    top: 50%;
    left: 0;
    right: 0;
    color: $gold;
  }
}
